<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/credit-card.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Pan Card!</title>
</head>
<body>

<div class="d-flex justify-content-end mt-5 mr-4">
    <a href="/all-card/status" type="button" class="btn btn-dark ml-5 all-card-status">Sync Cards</a>
</div>

<table class="table mt-5">
    <thead>
    <tr>
<!--        <th scope="col">Sync</th>-->
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">CARD NUMBER</th>
        <th scope="col">GROUP</th>
        <th scope="col">ASSESSMENT YEAR</th>
        <th scope="col">MODE OF PAYMENT</th>
        <th scope="col">REFERENCE NUMBER</th>
        <th scope="col">STATUS</th>
        <th scope="col">ACCOUNT NUMBER</th>
        <th scope="col">DATE</th>
    </tr>
    </thead>
    <tbody>

    <% if(cards !=="undefined" && cards && cards.length){ %>
        <% cards.forEach(card=>{ %>
        <tr>
<!--            <td> <a href="/card/status/<%-card._id%>" type="button" class="btn btn-dark ml-5 all-card-status">Sync</a></td>-->
            <td><%-card.id%></td>
            <td><%-card.name%></td>
            <td><%-card.card_number%></td>
            <td><%-card.group%></td>
            <td><%-card.assessment_year && card.assessment_year %></td>
            <td><%-card.mode_of_payment && card.mode_of_payment %></td>
            <td><%-card.reference_number && card.reference_number %></td>
            <td><%-card.status && card.status %></td>
            <td><%-card.account_number && card.account_number %></td>
            <td><%-card.date && card.date %></td>
        </tr>
        <%}) %>
    <% } %>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Captcha Alert!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add-captcha" method="POST">
                    <div class="mb-3 add-image">
                        <label for="recipient-name" class="col-form-label">Captcha Image:</label>
                    </div>
                    <div class="mb-3">
                        <label for="captcha" class="form-label">Captcha Code</label>
                        <input type="text" class="form-control" name="captcha" id="captcha" placeholder="Enter Captcha Code">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Add Captcha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">
            <div class="copyright"><p>Made with ❤️ <a href="https://github.com/smit-code" target="_blank">smit-code</a></p>
            </div>
        </div>
    </div>
</footer>









<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
<script>
    $(document).ready(function() {
        console.log("IN")
        function callForImage() {
            console.log("1")
            $.ajax({
                url: "/aaa/get-captcha-image",
                type: "get",
                success: function (data) {
                    console.log(data)
                    if (data.success) {
                         if(data.data.captcha_image){
                             let captchaImage = data.data.captcha_image
                                 console.log("abc",captchaImage)
                            $('.add-image').prepend(`<img alt="captcha" id="captcha_image" src="/images/${captchaImage}"/>`)
                            $("#exampleModal").modal("toggle");
                         } else {
                             console.log("Captcha image not found")
                         }
                    } else {
                        console.log("Captcha image not found")
                    }
                },
            });

        }

        //Call Every 30 Sec
        callForImage();
        setInterval(callForImage, 60*250);
    });
</script>

</body>
</html>
